extends layout

block content
    h1 Update Brand
    form(action= '/brands/' + brand.name + '/update' method='POST')
     label(for='name') Name: 
     input(type='text' name='name' value=brand.name min='1' required)
     br

     label(for='description') Description: 
     textarea( name='description' rows="3" cols="40" ) #{brand.description}
     br

     label(for='image') Image (web URL): 
     input(type='text' name='image' value=brand.image)
     br
          
     button(type='submit') Update Brand