extends layout

block content
  div.nav 
    img.logo(src='/images/snackShop.png' alt='Snack Shop Logo')
    button(onclick=`redirect('/')`) Home 
    button(onclick=`redirect('/items')`) Items 
    button(onclick=`redirect('/categories')`) Categories
    
  div.categoryNav
    b #{title}  
    button(onclick=`redirect('/categories/create')`) Create brand
  each brand in allBrands
    button.itemContainer(onclick=`redirect('/brands/${brand.name}')`) 
      img.image(src=brand.image, alt='Brand image')
      p #{brand.name}
  
