extends layout

block content
    div.nav 
     img.logo(src='/images/snackShop.png' alt='Snack Shop Logo')
     button(onclick=`redirect('/')`) Home 
     button(onclick=`redirect('/items')`) Items 
     button(onclick=`redirect('/categories')`) Categories
     button(onclick=`redirect('/brands')`) Brands
    
    form(action= '/categories/' + category.name + '/update' method='POST')
     p.formTitle Update Category
     label(for='name') Name: 
     input(type='text' name='name' value=category.name min='1' required)
     br

     label(for='description') Description: 
     textarea( name='description' rows="3" cols="40" ) #{category.description}
     br

     label(for='image') Image (web URL): 
     input(type='text' name='image' value=category.image min='1' required)
     br
          
     button(type='submit') Submit