extends layout

block content
  div.nav 
    img.logo(src='/images/snackShop.png' alt='Snack Shop Logo')
    button(onclick=`redirect('/')`) Home
    button(onclick=`redirect('/items')`) Items 
    button(onclick=`redirect('/brands')`) Brands
  div.categoryNav
    b #{title}  
    button(onclick=`redirect('/categories/create')`) Create Category
  each category in allCategories
    button.itemContainer(onclick=`redirect('/categories/${category.name}')`) 
      img.image(src=category.image, alt='Category image')
      p #{category.name}
  
