extends layout

block content
    div.nav 
     img.logo(src='/images/snackShop.png' alt='Snack Shop Logo')
     button(onclick=`redirect('/')`) Home 
     button(onclick=`redirect('/items')`) Items 
     button(onclick=`redirect('/categories')`) Categories
     button(onclick=`redirect('/brands')`) Brands
    form(action= '/items/create'  method='POST')
     p.formTitle Create Item
     label(for='name') Name
     input(type='text' name='name' value='' min='1' required)

     label(for='description') Description
     textarea( name='description' rows="3" cols="40" required) 

     label(for='price') Price
     input(type='number' name='price' step="0.01" value='0' min='0' required)

     label(for='quantity') Quantities 
     input(type='number' name='quantity' value='1' min='1' required)

     label(for='category') Category
     select(name='category')
      each cat in categories
          option(value=cat.category) #{cat.category}
    
          
     label(for='brand') Brand
     select(name='brand')
      each brand in brands
          option(value=brand.brand) #{brand.brand}
     
     label(for='image') Image (web URL) 
     input(type='text' name='image' value='' min='1' required)
          
     button(type='submit') Submit