doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      function redirect(url) {
        console.log(`Redirecting to: ${url}`);
        window.location.href = url;
      }
      function confirmDelete(item) {
        if (window.confirm(`Are you sure you want to delete ${item}?`)) {
          window.location.href = `/items/${item}/delete`;
        }
      }
  body
    block content
